
section {
    background-color: black;
}
.container2 {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
.head1 {
    text-align: center;
    font-size: 36px;
    color: #6495ED;
    font-weight: bolder;
    font-family: 'Great Vibes', cursive;
}

.container2 >img {
    width: 450px;
    height: 250px;
    filter: grayscale(100%);
    margin: 10px;
    object-fit: cover;
}
.container2 > img:hover {
    filter: grayscale(0%);
}
