.container {
    background-color:brown;
    border: 1px solid black;
    width: 1530px;
    display: flex;
    justify-content: space-between;
}
.div1 > img {
    width: 50px;
}
nav > .list1 {
    display: flex;
    justify-content: center;
    margin: 20px;
    border: 1px solid yellow;
}
.list1 > li {
    margin: 10px;
}